{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
<style>
    #send-email-form {
        margin-bottom: 10px;
    }
    #send-email-form .form-row {
        padding: 15px 0;
    }
    #send-email-form ul {
        list-style-type: none;
        margin: 10px 0 0 0;
        padding: 0;
    }
</style>
{% endblock %}

{% block content %}
<div id="content-main">
    <form method="post">
        {% csrf_token %}
        <fieldset class="module" id="send-email-form">
            <h2>{{ title }}</h2>
            <div class="form-row">
                {{ form.template.label_tag }}
                {{ form.template }}
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{{ submit_button_text }}" class="default">
        </div>
    </form>
</div>
{% endblock %}