{% extends "admin/change_list.html" %}
{% load static %}
{% block object-tools-items %}
    <li>
        <a href="#" id="statistics-btn" class="addlink">Generation Count</a>
    </li>
    {{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script>
$(document).ready(function(){
    $('#statistics-btn').on('click', function(e) {
        e.preventDefault();
        var selectedIds = [];
        $('input.action-select:checked').each(function() {
            selectedIds.push($(this).val());
        });

        if (selectedIds.length > 0) {
            var url = 'statistics/?ids=' + selectedIds.join(',');
            window.location.href = url;
        }
        else {
            alert('Please select at least one item');
        }
    });
});
</script>
{% endblock %}